<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resource Booking | Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="ui/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="ui/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="ui/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="ui/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="ui/js/jquery.js"></script>
    <script src="ui/js/angular.min.js"></script>
    <script src="ui/js/angular-route.min.js"></script>
    <script src="ui/js/controllersDashboard.js"></script>
    <script src="ui/js/factory.js"></script>
    <script src="ui/js/factoryDashboard.js"></script>
    <script src="ui/js/topbarApp.js"></script>
    <script src="ui/js/sidebarApp.js"></script>

    <!-- For integrating the calendar -->
    <link href='ui/scheduler/fullcalendar.min.css' rel='stylesheet' />
    <link href='ui/scheduler/scheduler.css' rel='stylesheet' />
    <script src='ui/scheduler/moment.min.js'></script>
    <script src='ui/scheduler/jquery.min.js'></script>
    <script src='ui/scheduler/fullcalendar.min.js'></script>
    <script src='ui/scheduler/scheduler.js'></script>
    <script src="ui/scheduler/scriptFile.js" charset="utf-8"></script>


    <!-- <script src="ui/js/factoryDashboard.js"></script> -->

</head>

<body ng-app="homePage">

    <div id="wrapper" ng-controller="dashboardCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <ng-include src="'topbar.html'"></ng-include>

            <ng-include src="'sidebar.html'"></ng-include>

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>

                <!-- /.row -->
                <div class="row">
                    <div  id="calendar" class="col-lg-12">

                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap Core JavaScript -->
    <script src="ui/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="ui/js/plugins/morris/raphael.min.js"></script>
    <script src="ui/js/plugins/morris/morris.min.js"></script>
    <script src="ui/js/plugins/morris/morris-data.js"></script> -->

</body>

</html>
