<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personal Details</title>

    <!-- Bootstrap Core CSS -->
    <link href="ui/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="ui/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="ui/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="ui/js/jquery.js"></script>
    <script src="ui/js/angular.min.js"></script>
    <script src="ui/js/angular-route.min.js"></script>
    <script src="ui/js/controllersDashboard.js"></script>
    <script src="ui/js/factory.js"></script>
    <script src="ui/js/factoryDashboard.js"></script>
    <script src="ui/js/topbarApp.js"></script>
    <script src="ui/js/sidebarApp.js"></script>

</head>

<body ng-app="personalDetailsPage">

    <div id="wrapper" ng-controller="personalCtrl">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <ng-include src="'topbar.html'"></ng-include>

            <ng-include src="'sidebar.html'"></ng-include>

        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header">
                            Personal Details
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Personal Details
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6">

                        <form role="form" ng-submit="updateDetails()">

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control" id="name" type="text" pattern="[a-zA-Z\s]{2,30}" placeholder="Name" ng-model="currentUser.name" title="It must be between 2-30 characters" required/>
                            </div>

                            <div class="form-group">
                                <label>Email-ID</label>
                                <p class="form-control-static">{{currentUser.email}}</p>
                            </div>

                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input class="form-control" id="designation" type="text" pattern="[a-zA-Z\s]{2,30}" placeholder="Designation" ng-model="currentUser.designation" title="It must be between 2-30 characters" required/>
                            </div>

                            <div class="form-group">
                                <label for="mobileNumber">Mobile Number</label>
                                <input class="form-control" id="mobileNumber" type="tel" pattern="\d{10}" placeholder="Mobile Number" ng-model="currentUser.mobileNumber" title="It must be 10 digits" required/>
                            </div>

                            <button type="submit" class="btn btn-default">Update</button>
                            <button type="reset" class="btn btn-default">Reset</button>

                        </form>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="ui/js/bootstrap.min.js"></script>

</body>

</html>
