<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="sidebarCtrl">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#requests"><i class="fa fa-fw fa-check-circle"></i> Pending Requests <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="requests" class="collapse">
                <li ng-repeat="resource in currentUser.adminOfResources">
                    <a href="#" ng-click="fetchBookings(resource.resourceId)">{{resource.resourceName}}</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
        </li> -->
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#resources"><i class="fa fa-fw fa-database"></i> Resources <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="resources" class="collapse">
                <li ng-repeat="resource in currentUser.adminOfResources">
                    <a href="#" ng-click="fetchResourceDetails(resource.resourceId)">{{resource.resourceName}}</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li> -->
    </ul>
</div>
<!-- /.navbar-collapse -->
